@model KariHotel.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Кімнатки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <h4>Тут могли б бути ваші деталі</h4>
        <dl>Звертатись за номером 066-0789-670</dl>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomID">Редагувати</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
