@model IEnumerable<KariHotel.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Клієнти</h1>

<p>
    <a asp-action="Create">Додати клієнта</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Знайти: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Пошук" class="btn btn-default" /> |
            <a asp-action="Index">Повернутись до повного списку</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
