@model KariHotel.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Детально</h1>

<div>
    <h4>Замовлення</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check_inDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check_inDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Check_outDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Check_outDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
        <h4>У зв'язку з виборами детальна інформація засекречена</h4>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Редагувати</a> |
    <a asp-action="Index">Повернутись до списку</a>
</div>
